<main class="contact">
    <div class="prices">
        <table>
            <tr>
                <th colspan="2">Cjenik</th>
            </tr>
            <tr>
                <td>Sezona</td>
                <td>Van sezone</td>
            </tr>
            <tr>
                <td id="sezona">80€</td>
                <td id="van-sezone">50€</td>
            </tr>
            <tr>
                <td id="tecaj1"><%= sprintf('%.2f', 80*@rate)%> kn</td>
                <td id="tecaj2"><%= sprintf('%.2f', 50*@rate)%> kn</td>
            </tr>
        </table>
    </div>
    <div class="contact-info">
        <h3>Osnovne informacije</h3>
        <p>Vlasnik: Ana Budimir</p>
        <p>OIB: 32162253217</p>
        <p>apartmani.ann@gmail.com</p>
    </div>
        <div class="contact-main">
            <h2>Kontaktirajte nas</h2>
            <%= form_with url: "kontakt", local: true do |form| %>
                <%= form.text_field :first_name, placeholder: "Ime", required: true %>
                <%= form.text_field :last_name, placeholder: "Prezime", required: true %>
                <%= form.email_field :email, placeholder: "Email", required: true%>
                <%= form.text_field :telephone, placeholder: "Telefon", required: true %>
                <div class="date"> 
                    <div>
                        <%= form.label :start, "Početak" %>
                        <%= form.date_field :start, value: Date.tomorrow, min: Date.tomorrow %>
                    </div>
                    <div>
                        <%= form.label :end, "Kraj" %>
                        <%= form.date_field :end, value: Date.tomorrow, min: Date.tomorrow %>
                    </div>
                </div>
                <%#= form.label :apartment, "Apartman"%>
                <%= form.select :apartment, ["Apartman 1", "Apartman 2", "Bilo koji"] %>
                <%= form.submit "Pošalji", class: "button"%>
            <% end %>
        </div>
</main>
