
<div class="wrapper">

  <%= form_for :reservation do |form|%>
    <p>Odaberi apartman: </p>
    <% Apartment.all.each do |a|%>
      <%= form.radio_button :apartment_id, a.id, checked: true%>
      <%= form.label :apartment_id, a.name%>
      <br/>
    <% end%>

    <%= form.label :date_from, "Datum od"%>
    <%= form.text_field :date_from, id: "datepicker1"%>

    <%= form.label :date_to, "Datum do"%>
    <%= form.text_field :date_to, id: "datepicker2"%>

    <%= form.submit "Zatraži rezervaciju"%>
  <% end%>
  <br/>
  <% if !@reservations.blank? %>
    <h2>Vaše rezervacije:</h2>
    <% @reservations.each do |r|%>
    <br/>
      <div>
        <%= r.apartment.name%>
        <p>Od: <b><%= r.date_from.strftime("%d.%m.%Y")%></b></p>
        
        <p>Do: <b><%= r.date_to.strftime("%d.%m.%Y")%></b></p>
        
        <p>Odobreno: <%= r.is_approved ? "Da" : "Ne"%></p>

       
      </div>
    <%end%>
  <%end%>
</div>




<style>
.wrapper{
  padding-top: 10vw;
  padding-bottom: 24vw;
}
</style>

<script>
  $( function() {
    $( "#datepicker1" ).datepicker({
      dateFormat:'dd.mm.yy'
    });
    $( "#datepicker2" ).datepicker({
      dateFormat:'dd.mm.yy'
    });
  } );

  
</script>
