<div class="home-main">
    <% @reservations.each do |reservation|%>
        <div>
            <%= reservation.apartment.name%>
            <%= reservation.user.first_name%>
            <%= reservation.user.last_name%>
            <%= reservation.date_from%>
            <%= reservation.date_to%>
        </div>
    <% end%>
</div>
