<!DOCTYPE html>
<html>
  <head>
    <title>Apartmani Ann</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= render "layouts/notification"%>
    <%= yield %>
    <% unless devise_controller? %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>


